<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
                <paystack>
                <active>1</active>
                <debug>1</debug>
                <currency>NGN</currency>
                <is_gateway>1</is_gateway>
                <title>Paystack</title>
                <order_status>processing</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Mattobell\Paystack\Model\Paystack</model>
                <group>offline</group>
            </paystack>
            <!-- payment-config -->
        </payment>
    </default>
</config>
